@charset "UTF-8";

#wrapper {
	margin: 0 auto;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	text-align: center;
}

#player {
	width: 300px;
}

h1{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 40px;
	font-weight: bold;
}

h2{
	font-size: 17px;
	font-weight: normal;
}

copyleft {
  font: 18px Arial, sans-serif;
  display: inline-block;
  transform: rotate(180deg);
}